{
  "apiKeys" : {
    "evernoteConsumerKey": "consumerKey",
    "evernoteConsumerSecret": "consumerSecret",
    "newsApiOrg": "5e37661e8558426c874e6a057edd226a",
    "openWeatherMap": "37a1289619fe2asdsadfrec72bd07423"
  }
}
